{% extends "base.html" %}
{% block title %}Sign in{% endblock %}


{% block content %}


<div class="container">
  <br />
   <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="mb-3">
      <form method="post" id="signin">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="Enter" class="btn btn-primary">Enter</button>
      </form>
    </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}